ion-card-title {
  font-size: 20px;
}

ion-badge {
  --background: linear-gradient(45deg, #5457ff 0%, #df6576 100%);
  --color: white;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: 10px;
  --padding-bottom: 5px;
}

.text-warning {
  color: #dfcb65;
  font-size: 18px;
}

.bg-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 3px solid #dfcb65;
  padding: 10px;
}

ion-list {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
.w-custom {
  width: 500px ;
}